@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif; */

hr{
    width: 70%
}

.dropdown-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown{
    background-color: white;
    padding: 2vw;
    width: 75vw;
    
}

.dropdown-title{
    font-size: xxx-large;
    border-bottom: 10px double rgb(104, 139, 161);
}

.dropdowntext-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: white;
    /* background-color: rgb(216, 222, 233); */
    
}

.dropdown-content{
    transition: max-height 0.5s linear;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-text{
    display: flex;
    align-self: center;
    justify-content: space-around;
}

.dropdown-img-div{
    align-self: center;
    display: flex;
}

.dropdown-img{
    height: auto;
    width: 100%;
    margin: 0;
}

.info{
    font-size: large;
    padding: 4px;
    text-align: center;
    align-self: center;
}

.button{
    background-color: rgba(216, 222, 233, 0);
    border: none;
    margin-top: 1vh;
}

.button:hover{
    background-color: rgba(247, 247, 247, 0.493);
}

.rotate-arrow{
    transform: rotate(180deg);
}

.seen{
    max-height: 100vh;
}

.hidden{
    max-height: 0;
    
}

@media only screen and (max-width: 850px) {
    .dropdown, .dropdown-reverse{
        display: flex;
        flex-direction: column;
    }
}

/* @keyframes seen {
    0%   {max-height: 0;}
    100% {max-height: 100%;}
} */