@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif; */

hr{
    width: 80%
}

.dropdown{
    display: flex;
    justify-content: space-between;
    background-color: white;
    /* background-color: rgb(216, 222, 233); */
    padding: 2vw;
    width: 95.5vw;
    /* box-shadow:2px 2px 5px black inset; */
    /* height: 200px; */
    /* border: 2px inset rgb(62, 98, 121); */
    /* border-bottom: 2px solid rgb(168, 158, 99); */
    /* border-radius: 0px 0px 20px 20px; */
    /* margin-bottom: 1px; */
}

.dropdown-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: white;
    /* background-color: rgb(216, 222, 233); */
    padding: 2vw;
    width: 95.5vw;
}

.dropdown h1{
    font-family: 'Lora', serif;
    margin:0;
}

.dropdown-reverse h1{
    font-family: 'Lora', serif;
    margin:0;
}

.dropdown-content{
    transition: max-height 0.5s linear;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    /* justify-content: space-between; */
    /* margin-bottom: 1vh; */
    /* width: 40%; */
}

.dropdown-img-div{
    align-self: center;
}

.dropdown-img{
    height: auto;
    width: 100%
}

.button{
    background-color: rgba(216, 222, 233, 0);
    border: none;
    margin-top: 1vh;
}

.button:hover{
    background-color: rgba(247, 247, 247, 0.493);
}

.rotate-arrow{
    transform: rotate(180deg);
}

.seen{
    max-height: 100vh;
}

.hidden{
    max-height: 0;
    
}

@media only screen and (max-width: 850px) {
    .dropdown, .dropdown-reverse{
        display: flex;
        flex-direction: column;
    }
}

/* @keyframes seen {
    0%   {max-height: 0;}
    100% {max-height: 100%;}
} */