.menu-main{
    /* height: 100vh; */
    width: 10vw;
    background-color: rgb(104, 139, 161);
    
    position: sticky;
    top: 0;

    height: 100vh;
    
}

.menu-list{
    /* position: sticky;
    top:0; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    height: 50%;
    padding: 0 5px;
    /* overflow-x: hidden; */

    transform: translateX(-100%)

    /* transition: max-width 5s linear; */
    
}

.menu-item{
    text-align: center;
    font-family: var(--content-text);
}

.menu-item a{
    color: white;
    text-decoration: none;
}

.menu-item a:hover{
    color: white;
    text-decoration: underline;
}

/* .menu-hidden{
    max-width: 0;
}

.menu-show{
    max-width: 10vw;
} */

.show{
    animation-name: grow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* height: 100%; */
}

.hide{
    animation-name: shrink;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
    /* height: 100%; */
}

@keyframes grow {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
    /* from {margin-top: 300%;}
    to {margin-top: 0%;} */
}

@keyframes shrink {
    0% {transform: translateX(0%);}
    35% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

