.about-title{
    font-size: 10vw;
    margin-top: 0;
    margin-bottom: 50px;

    width: 95vw;
    border-bottom: 10px double rgb(104, 139, 161);
}

.about-page{
    /* background-color: maroon; */
    display: flex;
    width:100vw;
    /* height: 100vh; */
    
}

.about-div2{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.about{
    display: flex;
    flex-direction:column;
    align-items: center;
    /* margin-left:15vw;
    margin-right:15vw; */
    max-width: 75vw;
    background-color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding: 4vh 1vw;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02), 
               0 32px 64px rgba(0,0,0,0.05);
    font-size: larger;
    
}

.image{
    float:left;
    margin-right: 0.5vw;
}

.grant-text{
    padding-left: 5px;
    font-family:var(--content-text);
}

.about-return p{
    font-family:var(--content-text);
}

.about-subtitle{
    font-family: var(--sub-title);
}

/* p{
    margin-top:0;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

@media only screen and (max-width: 550px){
    .about{  
        margin-left:5vw;
        margin-right:5vw;
    }
}