.about-page{
    /* background-color: maroon; */
    display: flex;
    width:100vw;
    /* height: 100vh; */
    
}

.about-div2{
    display: flex;
    flex-direction: column ;
    /* align-items: center; */
}

.about-us{
    display: flex;
    justify-content: space-between;
    /* flex-direction:column; */
    /* align-items: center; */
    /* margin-left:15vw;
    margin-right:15vw; */
    max-width: 100vw;
    background-color: white;
    padding: 20px 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02), 
               0 32px 64px rgba(0,0,0,0.05);
    font-size: larger;
    
}

.about-us h1{
    font-family: var(--sub-title);
    margin: 0;
}

.image{
    float:left;
    margin-right: 0.5vw;
}

.grant{
    width: 60%;
}

.grant-text{
    padding-left: 5px;
    font-family:var(--content-text);
}

.about-return{
    display: flex;
    justify-content: space-between;
    /* flex-direction:column; */
    /* align-items: center; */
    /* margin-left:15vw;
    margin-right:15vw; */
    max-width: 100vw;
    background-color: white;
    padding: 20px 50px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.02), 
                0 2px 4px rgba(0,0,0,0.02), 
                0 4px 8px rgba(0,0,0,0.02), 
                0 8px 16px rgba(0,0,0,0.02),
                0 16px 32px rgba(0,0,0,0.02), 
               0 32px 64px rgba(0,0,0,0.05);
    font-size: larger;
    
}

.about-return p{
    font-family:var(--content-text);
    width: 60%;
}

.about-subtitle{
    font-family: var(--sub-title);
    width: 40%;
}

/* p{
    margin-top:0;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

@media only screen and (max-width: 550px){
    .about{  
        margin-left:5vw;
        margin-right:5vw;
    }
}