html{
    overflow: hidden;
}

body{
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.arrow{
    width: 100%;
    /* background-image: linear-gradient(white, rgba(158, 171, 199, 0.9)); */
    backdrop-filter: blur(10px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    text-align: center;
}

.parallax-wrapper::before{
    content:'';
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px)scale(2);
}

.home-content{
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 100vh;
    /* padding-top: 20vh; */
    /* background-image: url('./images/th.jpg'); */
    position: relative;
    z-index: 2;
    background-color: rgb(216, 222, 233);
}


/* .content{
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: peachpuff;
} */

