html{
    overflow: hidden;
}

body{
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;
    /* backdrop-filter: blur(10px); */
}

.arrow{
    width: 100%;
    /* background-image: linear-gradient(white, rgba(158, 171, 199, 0.9)); */
    backdrop-filter: blur(8px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    text-align: center;
    /* height: 100vh; */
}

.parallax-wrapper::before{
    
    content:'';
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px)scale(2);
}

.home-content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    /* padding-top: 20vh; */
    /* background-image: url('./images/th.jpg'); */
    position: relative;
    z-index: 2;
    /* background-color: rgb(62, 98, 121); */
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* .content{
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: peachpuff;
} */

