.homecard-div{
    display: flex;
    height: 85vh;

    /* border:  2px solid rgb(62, 98, 121); */
}

.home-image{
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
    background-position: center;

    width: 50vw;
}

.home-text-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;

    /* background-color: rgb(255, 228, 205); */
    background-color: rgb(62, 98, 121);
}

.home-text-text{
    position: absolute;
    right: 10%;
    width: 50%;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    /* box-shadow: 10px 10px 10px  rgb(205, 245, 255); */
    box-shadow: 10px 10px 10px  rgba(14, 29, 37, 0.788);
}

@media only screen and (max-width: 850px) {
    .homecard-div{
        display: flex;
        flex-direction: column;
        /* height: 85vh; */
    }

    .home-text-div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    
        /* background-color: rgb(255, 228, 205); */
        background-color: rgb(62, 98, 121);
    }

    .home-image{
        background-image: url('../../images/logo.png');
        background-repeat: no-repeat;
        background-position: center;
    
        width: 100vw;
        height: 100vh;
    }

    .home-text-text{
        /* position: absolute;
        right: 10%;
        width: 50%; */
        position: relative;
        text-align: center;
        width: 80%;
        right: 0;
        padding: 5px;
        margin: 1vh;
        background-color: white;
        border: 1px solid black;
        /* box-shadow: 10px 10px 10px  rgb(205, 245, 255); */
        box-shadow: 10px 10px 10px  rgba(14, 29, 37, 0.788);
    }
    
}