.card{
    border: 2px solid rgb(201, 199, 199);
    border-radius: 5px 20px 20px 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 75%;
}

.card-title{
    border-right: 2px solid rgb(201, 199, 199);
    width: 20%;
    padding: 1vw;
}

.card-content{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0 2vw;
}


