p{
    margin: 0;
}

h1{
    font-size: 190px;
    margin-top: 0;

    width: 95vw;
    border-bottom: 10px double rgb(104, 139, 161);
    /* align-self: flex-start; */
}

/* .chart-title{
    font-size: xx-large;
} */

.chart-page{
    display: flex;
    /* flex-direction: row-reverse; */
}

.div1{
    /* height: 100vh; */
    width: 10vw;
    background-color: rgb(104, 139, 161);
}

.div2{
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    align-items: flex-end;
    /* width: 75vw; */
    
}

.category{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    width:95vw;
    height:100vh;
    /* overflow-y: scroll; */
}

.search-dropdown{
 display: flex;
 /* flex-direction: row-reverse; */
 align-self: start;
 margin-left: 1vw;
 
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    width: 6vw;
    height: 6vh;
    /* padding-top: 10px; */
    /* margin-top: 1vh; */
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(191, 213, 226);
    border: 1px solid black;

    
}

.rando{
    width: 55%;
    text-align: end;
}

.chart-button{
    background-color: rgb(104, 139, 161);
    border: none;
    /* width: 10%; */
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.chart-button:hover{
    background-color: rgb(132, 165, 185);
    border: none;
}


.search-buttons{
    display: flex;
    justify-content: space-around;
    background-color: rgb(191, 213, 226);
    /* flex-direction: column; */
    width: 50vw;
    height: 50px;

    transition: max-width 1s linear;
    /* overflow-y: scroll; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.chart-seen{
    max-width: 90vw;
}

.chart-hidden{
    max-width: 0;
    
}

.search-tab{
    border: none;
    /* border-radius: 100%; */
    background-color:white;
    background-color: rgb(189, 210, 223);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    width: 25%;
    height: 100%;
}

button:hover{
    /* background: rgb(221, 220, 220); */
    border: 1px solid black;
}

button:active{
    border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
    .chart-page{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .category{
        display:flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        width:99vw;
        height:100vh;
        /* overflow-y: scroll; */
    }
    
    .search{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        /* width: 98vw; */
        /* padding-top: 10px; */
        margin-top: 1vh;
        margin-bottom: 1vh;
        

       
        justify-content: space-between;
        align-items: center;
        /* width: 6vw; */
        height: 40px;
        /* padding-top: 10px; */
        margin-top: 1vh;
        
        border-radius: 0px 10px 10px 0px;
        background-color: rgb(132, 165, 185);
        border: 1px solid black;


    }
  }

@import '../../../node_modules/sal.js/dist/sal.css';