p{
    margin: 0;
}

.chart-page{
    display: flex;
    align-items: start;
}

.category{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    width:90vw;
    height:100vh;
    /* overflow-y: scroll; */
}

.search{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 10vw;
    /* padding-top: 10px; */
    margin-top: 1vh;
    background-color: white;
}

.search-buttons{
    display: flex;
    flex-direction: column;

    transition: max-height 0.5s linear;
    /* overflow-y: scroll; */
    overflow-y: hidden;
}

.chart-seen{
    max-height: 15vh;
}

.chart-hidden{
    max-height: 0;
    
}

.search-tab{
    border: 1px solid white;
    /* border-radius: 100%; */
    background-color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;

    height: 100%;
}

button:hover{
    /* background: rgb(221, 220, 220); */
    border: 1px solid black;
}

button:active{
    border: 1px solid black;
}

@media only screen and (max-width: 1000px) {
    .chart-page{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .category{
        display:flex;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
        width:99vw;
        height:100vh;
        /* overflow-y: scroll; */
    }
    
    .search{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        width: 98vw;
        /* padding-top: 10px; */
        margin-top: 1vh;
        margin-bottom: 1vh;
        background-color: white;
    }
  }

@import '../../../node_modules/sal.js/dist/sal.css';