.head{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom: 5px solid black;
}

.nav-bar{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    
}

.tab{
    border: 2px solid black;
    border-radius: 6%;
    box-shadow: 1px 2px 2px #000000;
    width: 15%;
    height: 50%;
    margin-right: 1vw;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(231, 196, 149); */
    background-color: rgb(221, 221, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link, a:visited{
    color:black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}